/* body {margin:2rem;} */

/*style only used in Repetoire.html */

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }



.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

.top_left {
  position: absolute;
  top: 1em;
  left: 1em;
}

