# Vis venlige fejlmeddelelser
ErrorDocument 404 /404.php
ErrorDocument 500 /404.php
ErrorDocument 403 /404.php

# Slå mod_rewrite til
RewriteEngine On

# Undgå at omskrive eksisterende filer og mapper
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Omskriv URL'er uden .php
RewriteRule ^(.+?)$ $1.php [NC,L]

# Sæt startsiden
DirectoryIndex index.php
